<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Weather App</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <h1>Check the Weather</h1>
    <form method="GET" , action="/get-weather">
        <input type="text" name="city" placeholder="Enter city" required>
        <button type="submit">Get Weather</button>
    </form>

    {% if weather %}
    {% if weather.error %}
    <p style="color:red;">{{ weather.error }}</p>
    {% else %}
    <h2> Weather in {{ weather.name }}</h2>
    <p>Temperature: {{ weather.main.temp }} °F</p>
    <p>Feels Like: {{ weather.main.feels_like }} °F</p>
    <p>Condition: {{ weather.weather[0].description.title() }}</p>
    {% endif %}
    {% endif %}

</body>

</html>